# Archivos compilados de Java
*.class
*.jar

# Carpetas de compilación
build/
dist/
target/

# NetBeans
nbproject/private/
nbbuild/
nbdist/

# Archivos temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db